DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True

POSTGRES_DB=taskparser
POSTGRES_USER=taskparser
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=db # или localhost для локального запуска
POSTGRES_PORT=5432

DATABASE_URL=postgresql://taskparser:your-db-password@db:5432/taskparser

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

TELEGRAM_BOT_TOKEN=your-telegram-bot-token